<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文情報入力</h3>
      <%= form_with(model: @order, url: orders_comfirm_path, method: :post, local: true)do |f| %>
        <table>
          <tbody>
            <tr>
              <th scope="row">支払い方法</th>
              <td>
                <div class="radio">
                  <%= f.radio_button :payment_method, 0 %>
                  <label class="payment-label"> クレジットカード</label>
                  <%= f.radio_button :payment_method, 1 %>
                  <label class="payment-label">銀行振り込み</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-xs-offset-5">
          <%= f.submit "確認画面へ進む",class:"btn btn-primary col-xs-3 " %>
        </div>
      <% end %>
    </div>
  </div>
</div>